@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* GENERAL */

.btn {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border-radius: 3rem;

}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

/* -------------------- */

/* NAVBAR */



.navbar {
    background-color: var(--primary-color);
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--tertiary-color);
    /* font-family: 'Manrope'; */
    font-size: 2rem;
    letter-spacing: .6rem;

}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-link {
    margin: 0 2rem;
    padding: 1.3rem;
    color: var(--tertiary-color);
    text-transform: uppercase;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s;
}

.nav-link:active {
    transform: scale(0.96);
}

.nav-link a {
    color: var(--tertiary-color);
    font-weight: bold;
    letter-spacing: 0.4rem;
    

}

.nav-link.active {
    border-bottom: 5px solid var(--tertiary-color);

}

@media  screen and (max-width: 700px) {

    h1 {
        font-size: 1.6rem;
    }
    .nav-link {
        margin: 0;
    }
}

@media screen and (max-width:500px) {
    
    h1 {
        font-size: 1rem;
    }
    .nav-link a {
        font-size: 0.7rem;
    }

    .nav-link.active {
        border-bottom: 3px solid var(--tertiary-color);
    
    }
}


/* HERO */

.hero-container {
    height: 80vh;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}

.hero-img {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.hero-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #4E47D8, #D98B5D);
    opacity: 0.8;
    z-index: 10;
}

.hero-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 11;
}

.hero-blurb-container-bg {
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    width: 40%;
    height: 70%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.6);
    clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.hero-blurb-container  {
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    width: 40%;
    height: 70%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;
    z-index: 100;
}

.hero-blurb-container h3 {
    margin: 2rem 0;
    font-size: 2rem;
    letter-spacing: .5rem;
}
.hero-blurb-container h2 {
   
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.hero-blurb-container p {
   
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.btn-hero {
    width: 15rem;
    text-align: center;
    align-self: center;
    transition: all .2s;
    animation: moveInButton .5s ease-out 1s;
    animation-fill-mode: backwards;
    position: relative;
}

.btn-hero:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(217, 139, 93, 0.1);

}

.btn-hero::after {
    background-color: var(--tertiary-color);
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-hero:hover::after {
   transform: scaleX(1.4) scaleY(1.6);
   opacity: 0;
}

.btn-hero:active {
    transform: scale(0.98);
}

@keyframes moveInButton {
    0% {
     opacity: 0;  
     transform: translateY(-5rem);
    }

    75% {
        opacity: 0.8;
        transform: translateY(1rem);
    }
 
 
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

@media screen and (min-width:1200px) {
    .hero-blurb-container h3 {
        margin: 2rem 0;
        font-size: 3rem;
        letter-spacing: .5rem;
    }
    .hero-blurb-container h2 {
       
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .hero-blurb-container p {
       
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}


/* INTRODUCTION */


.intro-heading {
    text-align: center;
    background: linear-gradient(to bottom right, #4E47D8, #D98B5D);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 5rem;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.intro-container-bg {
    width: 100%;
    height: 40vh;
    background: url(../media/intro-img.jpg) center center/cover no-repeat;
    border-radius: 3rem;
    /* overflow: hidden; */
}

.intro-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, transparent);
}

.intro-container p {
    padding: 3rem;
    padding-right: 20rem;
    font-size: 2rem;
    line-height: 1.7;
}


