@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* GENERAL */


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope';
    position: relative;
 }

.btn {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border-radius: 3rem;

}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

/* -------------------- */

/* NAVBAR */



.navbar {
    background-color: var(--primary-color);
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    z-index: 999;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--tertiary-color);
    font-size: 2rem;
    letter-spacing: .6rem;

}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: var(--primary-color);
    transition: all 0.4s ;
    z-index: 900;
    transform: translateX(-100%);
    opacity: 0;
    
}

.nav-links.active {
    transform: translateX(0);
    opacity: 1;
    
}

.nav-link {
    margin: 0 2rem;
    padding: 1.3rem;
    color: var(--tertiary-color);
    text-transform: uppercase;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s;
}

.nav-link:active {
    transform: scale(0.96);
}

.nav-link a {
    color: var(--tertiary-color);
    font-weight: bold;
    letter-spacing: 0.4rem;
}

.navbar-bolt {
    display: none;
}

.nav-button {
    height: 4rem;
    width: 4rem;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burgerline {
    width: 2.5rem;
    height: .4rem;
    background-color: var(--primary-color);
    border-radius: .5rem;
    position: relative;
    transition: all 0.3s;
}

.burgerline::after,
.burgerline::before {
    content: '';
    width: 2.5rem;
    height: .4rem;
    background-color: var(--primary-color);
    border-radius: .5rem;
    position: absolute;
    transition: all 0.3s;
}

.burgerline::after {
    top: -.8rem;
}

.burgerline::before {
    top: .8rem;
}

.burgerline.active {
    height: 2.5rem;
    border-radius: 50%;
    transform: rotate(180deg);
}

.burgerline.active::after {
    opacity: 0;
    transform: translateX(-2rem);
}

.burgerline.active::before {
    opacity: 0;
    transform: translateX(2rem);
}




/* HERO */

.hero-container {
    height: 100vh;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}

.hero-img {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.hero-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #4E47D8, #D98B5D);
    opacity: 0.8;
    z-index: 10;
}

.hero-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 11;
}

.hero-blurb-container-bg {
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    width: 40%;
    height: 70%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.6);
    clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    /* box-shadow: 0 0 rem rgba(0, 0, 0, 0.6); */
}

.hero-blurb-container  {
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    width: 40%;
    height: 70%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;
    z-index: 100;
}

.hero-blurb-container h3 {
    margin: 2rem 0;
    font-size: 2rem;
    letter-spacing: .5rem;
}
.hero-blurb-container h2 {
   
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.hero-blurb-container p {
   
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.btn-hero {
    width: 15rem;
    text-align: center;
    align-self: center;
    transition: all .2s;
    animation: moveInButton .5s ease-out 1s;
    animation-fill-mode: backwards;
    position: relative;
}

.btn-hero:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(217, 139, 93, 0.1);

}

.btn-hero::after {
    background-color: var(--tertiary-color);
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-hero:hover::after {
   transform: scaleX(1.4) scaleY(1.6);
   opacity: 0;
}

.btn-hero:active {
    transform: scale(0.98);
}

@keyframes moveInButton {
    0% {
     opacity: 0;  
     transform: translateY(-5rem);
    }

    75% {
        opacity: 0.8;
        transform: translateY(1rem);
    }
 
 
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }




/* INTRODUCTION */


.intro-heading {
    text-align: center;
    background: linear-gradient(to bottom right, #4E47D8, #D98B5D);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 5rem;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.intro-container-bg {
    width: 100%;
    height: 30rem;
    background: url(../media/intro-img.jpg) center center/cover no-repeat;
    border-radius: 3rem;
    /* overflow: hidden; */
}

.intro-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, transparent);
    border-radius: 3rem;
}

.intro-container p {
    padding: 3rem;
    padding-right: 20rem;
    font-size: 2rem;
    line-height: 1.7;
}


/* EQUIPMENT SECTION */

.equipment-bg {
    background: url(../media/gear-bg.jpg) center center/cover no-repeat;
    background-attachment: fixed;
    padding-bottom: 10rem ;
   position: relative;
   z-index: 0;
}

.equipment-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}

.equipment-content {
    z-index: 100;
    position: relative;
    /* top: 10%; */
    /* left: 10%; */
}

.equipment-header {
    color: #fff;
    margin: 3rem 2rem;
    display: inline-block;
    font-size: 3rem;
    z-index: 100;
}

.equipment-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.grid-item {
    height: 30rem;
    overflow: hidden;
    position: relative;
    border-radius: 3rem;
}

.grid-item-two-wide {
    grid-column: span 2;
}

.equipment-grid-container > div:nth-child(odd) img {
    border: var(--primary-color) 7px solid;
}
.equipment-grid-container > div:nth-child(odd) .grid-item-overlay {
    background-color: var(--tertiary-color);
}

.equipment-grid-container > div:nth-child(odd) .grid-item-overlay span {
    color: #000;
}
.equipment-grid-container > div:nth-child(even) img {
    border: var(--tertiary-color) 7px solid;
}
.equipment-grid-container > div:nth-child(even) .grid-item-overlay {
    background-color: var(--primary-color);
}

.equipment-grid-container img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 3rem;
    transition: all 1s ease-in-out;
    object-fit: cover;
}

.grid-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    z-index: 100;
    opacity: 0.7;
    /* transform: skewY(-7deg); */
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover .grid-item-overlay {
    transform: translateY(0);
}

.grid-item:hover img {
    transform: scale(1.3);
    filter: brightness(20%);
}

.grid-item-overlay span {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    /* transform: skewY(7deg); */
    transform: translateY(1000%);
    transition: transform 0.6s ease-in-out;
}

.grid-item:hover .grid-item-overlay span {
    transform: translateY(0);
}

/* RECORDING SECTION */

.recording-bg {
    background: url(../media/recording-bg.jpg) center center/cover no-repeat;
    width: 100%;
    height: 70vh;
    position: relative;
}

.recording-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    width: 40%;
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.recording-heading {
    font-size: 4rem;
    font-weight: 100;
    margin: 2rem 0;
}

.recording-text {
    font-size: 1.8rem;
    font-weight: bold;
}

.btn-recording {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.btn-recording::after {
    background-color: var(--primary-color);
}

.recording-container-bg {
    width: 100%;
    height: 30rem;
    background: url(../media/cassette.jpg) center center/cover no-repeat;
    border-radius: 3rem;
    /* overflow: hidden; */
}

.recording-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #000 0%, #000 50%, transparent);
    border-radius: 3rem;
}

.recording-container p {
    color: #fff;
    padding: 3rem;
    padding-right: 20rem;
    font-size: 2rem;
    line-height: 1.7;
}

/* PRICES */

.price-card {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 30rem;
    background-color: #eee;
    box-shadow:  0 .5rem 3rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s ;
}

.price-card-reverse {
    flex-direction: row-reverse;
}

.price-card:hover {
    transform: scale(1.05);
    box-shadow:  0 .5rem 2rem 1rem rgba(0, 0, 0, 0.3);
}

.price-img-container {
    height: 100%;
    width: 33%;
    overflow: hidden;
    
}

.price-img {
    width: 100%;
    height: 100%;
}

.price-blurb {
    width: 66%;
}
.price-blurb h2 {
    font-size: 2.5rem;
}
.price-blurb p {
    font-size: 1.4rem;
}

.price-booking-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.price-icon {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border-radius: 3rem;
}

.price-icon-tertiary {
    color: #000;
    background-color: var(--tertiary-color);
}

/* BOOKINGS */

.bookings-bg {
   
    width: 100%;
    padding: 10rem 0 ;
    background: linear-gradient(to bottom right, #33006E, #D98B5D) ,url(../media/booking-bg.jpg) center center/cover no-repeat ;
    background-blend-mode: screen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookings-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 238, 238, 0.5);
    padding: 3rem 5rem;
    border-radius: 3rem;
    /* border-top: 0.5rem solid var(--tertiary-color);
    border-left: 0.5rem solid var(--tertiary-color);
    border-bottom: 0.5rem solid var(--primary-color);
    border-right: 0.5rem solid var(--primary-color); */
}

.bookings-form label {
    margin: 1rem 0;
    font-size: 2rem;
}

.bookings-form input {
    width: 100%;
    height: 3rem;
    padding: 1rem 4rem;
    border: none;
    border-radius: 3rem;
    opacity: 0.7;
} 

.bookings-form select {
    width: 100%;
    height: 3rem;
    padding: 0 4rem;
    border: none;
    border-radius: 3rem;
    opacity: 0.7;
}

.bookings-form textarea {
    width: 100%;
    font-family: inherit;
    padding: 1rem 4rem;
    border: none;
    border-radius: 3rem;
    opacity: 0.7;
}
.bookings-form .submit-btn {
    border: none;
    cursor: pointer;
    width: min-content;
}

/* FOOTER */

.footer {
    background-color: var(--primary-color);
    padding: 3rem;
    height: 25rem;
    width: 100%;
    /* position: absolute;
    bottom: 0;
    z-index: -1; */
    text-align: center;
}

.footer-heading {
    color: var(--tertiary-color);
    font-size: 3rem;
    letter-spacing: .6rem;
}

.footer-flex {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    height: 15rem;
}

.footer-info {
    width: 50%;
    border-right: var(--tertiary-color) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info span {
    color: #fff;
    font-size: 1.6rem;
}

.footer-social {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social a {
    cursor: pointer;
    transition: all 0.2s ;
}

.social-icons {
    color: #fff;
    font-size: 4rem;
    margin: 0 1rem;
    transition: all 0.2s ;
}

.footer-social a:hover {
    transform: scale(1.05);
}

.footer-social a:active {
    transform: scale(0.89);
}

.footer-social a:hover .social-icons {
    color: var(--tertiary-color);
}

.footer-social a:active .social-icons {
    color: #4E47D8;
}

/* MEDIA QUERIES */

@media screen and (min-width:1200px) {
    .hero-blurb-container h3 {
        margin: 2rem 0;
        font-size: 3rem;
        letter-spacing: .5rem;
    }
    .hero-blurb-container h2 {
       
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .hero-blurb-container p {
       
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

@media  screen and (max-width: 768px) {

    h1 {
        font-size: 1.6rem;
    }
    .nav-link {
        margin: 0;
    }

    .recording-heading {
        font-size: 3rem;
        font-weight: 100;
        margin: 2rem 0;
    }

    .price-blurb p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:500px) {
    
    .u-padding-top-large {
        padding-top: 3rem;
    }


    h1 {
        font-size: 1rem;
    }
    .nav-link a {
        font-size: 0.7rem;
    }

    .nav-links {
        position: fixed;
        top: 6rem;
        right: 0;
        height: 100vh;
        width: 15rem;
        justify-content: flex-start;
        flex-direction: column;
        transform: translateX(100%);
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .navbar-bolt {
        display: block;
        justify-self: flex-end;
        margin-top: 20rem;
        text-align: center;
    }
    
    .navbar-bolt i {
        font-size: 5rem;

    }

    .nav-link {
        margin: 2rem 0;
        font-size: 1rem;
    }

    .nav-link a {
        font-size: 1rem;
    }

    .hero-blurb-container-bg {
        width: 70%;
    }

    .hero-blurb-container {
        width: 70%;
    }

   .intro-heading {
    font-size: 3rem;
   }

   .intro-container p {
    padding-right: 2rem;
    font-size: 1.5rem;
   }

   .equipment-grid-container {
    grid-template-columns: 1fr 1fr;
   }

    .recording-text-box {
        width: 70%;
    }

    .recording-container p {
        padding-right: 2rem;
    }

    .price-card {
        height: 60rem;
        flex-direction: column;
        
    }

    .price-img-container {
        width: 100%;
    }

    .price-blurb {
        width: 100%;
    }

    .footer-social {
        flex-wrap: wrap;
    }

    .social-icons {
        font-size: 4rem;
        margin: 0 2rem;
    }
}

@media screen and (max-width: 390px) {

    .navbar {
        width: 100vw;
    }

    .price-icon {
        font-size: 1.6rem;
    }

    .footer-heading {
        font-size: 2rem;
    }

    /* .equipment-grid-container {
        grid-template-columns: 1fr;
        width: 70vw;
    }

    .grid-item {
        width: 100%;
    } */


    .footer-info {
        border-right: none;
    }

    .footer-info span {
        font-size: 1rem;
    }
    .social-icons {
        font-size: 2rem;
        margin: 0 2rem ;
    }
}